body
{
	background-color: #77c6d6;
}

.cTitle
{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-family: 'hagin_caps_mediumregular';
	font-size: 500%;
	color: #222222;
}

#iTitleBorder
{
	text-align: center;
}

.cEngel
{
	font-family: 'engel_light_ltdlight';
}

.cNarrator
{
	font-family: 'narratorregular';
}

.cBarkentina
{
	font-family: 'barkentina_testregular';
}